html,
body {
  width: 430px;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  user-select: none;
}
table {
  width: 100%;
}
#since td:first-child {
  width: 64px;
  background: url('icon.png') top center no-repeat;
  background-size: 48px;
}
hr {
  display: block;
  border: none;
  border-top: 1px solid #e1e1e1;
  height: 1px;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body>div {
  margin: 10px;
}
input[type="radio"] {
  display: none;
}
input {
  outline: none;
}
input[type="radio"]+label {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="7" fill="%23f1f1f1" stroke="%23e7e7e7" stroke-width="1"/></svg>');
  background-repeat:  no-repeat;
  background-position: left 5px center;
  background-size: 16px;
  padding: 3px 5px 3px 26px;
  margin: 5px 0;
  display: block;
  cursor: pointer;
  border: solid 1px transparent;
}
input[type="radio"]:checked+label{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="6" fill="%23fff" stroke="%23177ee6" stroke-width="4"/></svg>');
  border-color: #c3c3c3;
  background-color: #e0e0e0;
  border-radius: 2px;
}
input[type=button] {
  cursor: pointer;
}
input[type=button]:active {
  opacity: 0.5;
}
input[type=number] {
  background-color: #fff;
  border: solid 1px #c3c3c3;
  height: 16px;
  width: 48px;
  text-indent: 3px;
}

#lists {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: auto;
}
#types,
#zones {
  color: #838383;
  flex: 1;
}
#types li,
#zones li {
  color: #000;
  padding: 1px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#forget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d92316;
}
#forget div {
  display: flex;
  width: 100%;
}
#forget input {
  padding: 10px;
  margin-top: 10px;
}
#forget input:disabled {
  background-color: #ccc;
  border: solid 1px #ddd;
}
#forget #submit {
  flex: 1;
  color: #fff;
  background-color: #d92316;
  border: solid 1px #c92014;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
#forget #exit {
  border-radius: 2px 0 0 2px;
  border-right: none;
  color: #000;
  border: solid 1px #c3c3c3;
  background-color: #e0e0e0;
}

#confirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none; /*flex*/
  align-items: center;
  justify-content: center;
}
#confirm>div {
  width: 300px;
  background-color: #fff;
  border: solid 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#confirm input {
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin: 0 2px;
  padding: 5px;
}
#confirm input:active {
  border-color: rgba(0, 0, 0, 0.3);
}
#confirm>div>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@-moz-document url-prefix() {
  .chrome {
    display: none;
  }
}
